.sidebar{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .2s;
    overflow-x: hidden;
    white-space: nowrap;
    background: #2D344F;
    width: $width-drawer-not-active;
    border-top: 2px solid $color-primary;
    @include respond(down-tab-port){
        z-index: 200;
    }
    &.active{
        width: $width-drawer-active;
    }
    &:hover{
        .expand{
            visibility: visible;
            opacity: 1;
        }
    }
    .expand{
        @include respond(down-tab-port){
            visibility: visible;
            opacity: 1;
        }
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;
        filter: opacity(.5);
        transform: rotate(180deg);

    }

    .logo__header{
        height: calc($header-height - 2px);
        padding: 0 2rem;
        .logo{
            width: 130px;
            object-fit: contain;
        }
    }
    nav{
        padding: 2rem;
        ul{
            padding: 0;
            margin: 0;
            li{
                padding: 1rem;
                list-style: none;
                &.active{
                    border: 1px solid #ffffff29;
                    background-color: #7991d81f;
                    border-radius: 8px;
                }
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

