.modal__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(77 77 77 / 60%);
    transition: all 0.4s;
    &.active{
        visibility: visible;
        opacity: 1;
    }    
}

.modal__cs{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    z-index: 101;
    background-color: white;
    box-shadow: 0 28px 48px rgba(0,0,0,0.4);
    border-radius: 10px;
    @include respond (down-tab-port){
        width: 80%;
    }
    &--header{
        padding: 2rem;
    }

    &--body{
        min-height: 400px;
        height: 400px;
        overflow: auto;
        .button-filter-list{
            padding: 2rem;
        }
        .select-filter-list{
            width: 100%;
            .select-item-list{
                border-bottom: 1px solid #d3d3d3;
                padding: 1rem 2rem;
                cursor: pointer;
                label{
                    font-size: 1.4rem;
                    font-weight: 600;
                }
                p{
                    font-size: 1.4rem;
                    color: rgb(153, 153, 153);
                    margin-bottom: 0;
                }
            }
        }
    }

    h2{
        font-size: 2rem;
    }

    &.active{
        display: block;
    }

    &.modal__check{
        .input__check{
            padding: 2rem;
            .form-check{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                .form-check-input{
                    margin-top: 0;
                }
                input{
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 2rem;
                }
                label{
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
           
        }
    }

    .close__button{
        cursor: pointer;
        width: 25px;
    }
}


.modal__wrapper{
    .pipeline,.status,.rincian-tugas,.laporan{
        .modal__cs--body{
            padding: 2rem;
            min-height: unset;
            height: unset;
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    .next__activity{
                        font-weight: 600;
                    }
                    .time{
                        font-size: 1.4rem;
                    }
                }
            }
            .form-check{
                display: flex;
                align-items: center;
                margin-bottom: 0rem;
                .form-check-input{
                    margin-top: 0;
                }
                input{
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 2rem;
                    border: 1px solid rgba(0, 0, 0, 0.795);
                }
                label{
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
            form{
                label{
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                }
                input,textarea{
                    border-radius: 4px;
                    border-color: hsl(0, 0%, 70%);
                    box-shadow: none;
                    border: 1px solid lightgray;
                    padding: 1rem 0.8rem;
                    font-size: 1.4rem;
                    color: black;
                    font-weight: 600;
                }
            }
            .react-select__single-value{
                font-size: 1.4rem;
                @include respond(down-tab-port){
                    font-size: 1.1rem;
                }
            }
        }
        .modal__cs--footer{
            padding: 2rem;
            border-top: $border-light-2;
            .btn-simpan{
                background-color: $color-primary;
                font-size: 1.8rem;
            }
        }
    }
  }
  