$color_darK : #131313;
$color-primary : #2D344F;

$width-drawer-not-active : 0px;
$width-drawer-active : 235px;
$header-height : 70px;

$border-light : 1px solid rgb(224, 224, 224);
$border-light-2 : 1px solid #d3d3d3;
$box-shadow-1: 2px 8px 18px -9px #e2e2e2;
